.sidebar .nav .nav-item {
    text-align: left;
}

.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: green;
}

@media (max-width: 991.98px) {
    .sidebar-offcanvas {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -270px;
        transition: all 0.25s ease-out;
    }

    .sidebar-offcanvas.active {
        left: 0;
    }
}